USE [master]
GO
/****** Object:  Database [ConvertCoins]    Script Date: 30/04/2022 14:34:56 ******/
CREATE DATABASE [ConvertCoins]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConvertCoins', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ConvertCoins.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConvertCoins_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ConvertCoins_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConvertCoins].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConvertCoins]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 30/04/2022 14:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[IDTransaction] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[CurrencyOrigin] [varchar](50) NOT NULL,
	[OriginValue] [decimal](18, 0) NOT NULL,
	[DestCurrency] [varchar](50) NOT NULL,
	[DestValue] [decimal](18, 0) NOT NULL,
	[Rate] [float] NOT NULL,
	[Date_Time] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/04/2022 14:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
